<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <!-- Special case context menu for simple projects that have java natures -->
      <objectContribution
            adaptable="true"
            id="dependencyscanner.ProjectActions"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="dependencyscanner"
               label="Dependency Scanner"
               path="group.build">
            <separator name="doit" />
            <separator name="save" />
         </menu>
           <action
                 class="dependencyscanner.actions.ScanDependenciesAction"
                 enablesFor="1"
                 icon="icons/refresh.png"
                 id="dependencyscanner.scanDependencies"
                 label="Scan for vulnerabilities"
                 menubarPath="dependencyscanner/scan">
           </action>
           <action
                 class="dependencyscanner.actions.OpenResultsTabAction"
                 enablesFor="1"
                 icon="icons/file_obj.png"
                 id="dependencyscanner.openResultsTab"
                 label="Open Analysis Results Tab"
                 menubarPath="dependencyscanner/open">
           </action>
           <action
                 class="dependencyscanner.actions.OpenResultsAction"
                 enablesFor="1"
                 icon="icons/file_obj.png"
                 id="dependencyscanner.openResults"
                 label="Open Analysis Results as HTML"
                 menubarPath="dependencyscanner/open">
           </action>

           <visibility>
              <objectState
                    name="nature"
                    value="org.eclipse.jdt.core.javanature">
              </objectState>
           </visibility>

      </objectContribution>

   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="dependency-scanner"
            name="Dependency Scanner">
      </category>
      <view
            category="dependency-scanner"
            class="dependencyscanner.views.DependencyResultsView"
            icon="icons/sample.png"
            id="dependencyscanner.views.DependencyResultsView"
            inject="true"
            name="Dependency Scan Results">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="dependencyscanner.views.DependencyResultsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="dependencyscanner.preferences.DependencyScannerPreferencePage"
            id="dependencyscanner.preferences.DependencyScannerPreferencePage"
            name="Dependency Scanner Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="dependencyscanner.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="vulnerableDependency"
         name="Vulnerable Dependency"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.core.resources.problemmarker"/>
         <attribute name="artifactId" />
         <attribute name="groupId" />
         <attribute name="version" />
         <persistent value="true" />
   </extension>

</plugin>
